#u75 {
  border-width: 0px;
  border-color: transparent;
  background-color: #ffffff;
}
#u96 {
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  background-color: #ec0928;
}
#menuu621,
#u630 {
  border-width: 0px;
  border-color: transparent;
  background-color: #ec0928;
}
#u630:hover {
  background-color: #999999;
}
#u630:active {
  background-color: #6b6b6b;
}
#u631 {
  vertical-align: top;
  background: transparent url("../images/u631.png?crc=4286050398") no-repeat 0px
    0px;
}
#u630:hover #u631 {
  background: transparent url("../images/u631-r.png?crc=3982287541") no-repeat
    0px 0px;
}
#u630:active #u631 {
  background: transparent url("../images/u631-m.png?crc=3891254144") no-repeat
    0px 0px;
}
#u630.MuseMenuActive #u631 {
  background: transparent url("../images/u631-a.png?crc=3982287541") no-repeat
    0px 0px;
}
#u702 {
  border-width: 0px;
  border-color: transparent;
  background-color: #ec0928;
}
#u630.MuseMenuActive,
#u702:hover {
  background-color: #999999;
}
#u702:active {
  background-color: #6b6b6b;
}
#u703 {
  vertical-align: top;
  background: transparent url("../images/u703.png?crc=3916781684") no-repeat 0px
    0px;
}
#u702:hover #u703 {
  background: transparent url("../images/u703-r.png?crc=4009920733") no-repeat
    0px 0px;
}
#u702:active #u703 {
  background: transparent url("../images/u703-m.png?crc=3792246509") no-repeat
    0px 0px;
}
#u702.MuseMenuActive #u703 {
  background: transparent url("../images/u703-a.png?crc=4009920733") no-repeat
    0px 0px;
}
#u709 {
  border-width: 0px;
  border-color: transparent;
  background-color: #ec0928;
}
#u702.MuseMenuActive,
#u709:hover {
  background-color: #999999;
}
#u709:active {
  background-color: #6b6b6b;
}
#u710 {
  vertical-align: top;
  background: transparent url("../images/u710.png?crc=196914973") no-repeat 0px
    0px;
}
#u709:hover #u710 {
  background: transparent url("../images/u710-r.png?crc=3964308220") no-repeat
    0px 0px;
}
#u709:active #u710 {
  background: transparent url("../images/u710-m.png?crc=111504848") no-repeat
    0px 0px;
}
#u709.MuseMenuActive #u710 {
  background: transparent url("../images/u710-a.png?crc=3964308220") no-repeat
    0px 0px;
}
#u714 {
  border-width: 0px;
  border-color: transparent;
  background-color: #ec0928;
}
#u709.MuseMenuActive,
#u714:hover {
  background-color: #999999;
}
#u714:active {
  background-color: #6b6b6b;
}
#u714.MuseMenuActive {
  background-color: #999999;
}
#u716 {
  vertical-align: top;
  background: transparent url("../images/u716.png?crc=122066524") no-repeat 0px
    0px;
}
#u714:hover #u716 {
  background: transparent url("../images/u716-r.png?crc=3805553110") no-repeat
    0px 0px;
}
#u714:active #u716 {
  background: transparent url("../images/u716-m.png?crc=3986901343") no-repeat
    0px 0px;
}
#u714.MuseMenuActive #u716 {
  background: transparent url("../images/u716-a.png?crc=3805553110") no-repeat
    0px 0px;
}
.MenuItem {
  cursor: pointer;
}
#u629,
#u699,
#u706,
#u713,
#u7533,
#u7553 {
  background-color: transparent;
}
#u7576-4,
#u7579-4,
#u7582-4,
#u7585-4 {
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
}
